body{
    direction: rtl;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: linear-gradient(to left, #26547c 30%, #06d6a0 70%);
    margin: 0;
    padding: 0;
    
}

.app{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    

}


h1{
   display: flex;
   justify-content: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}


input{
    background-image: linear-gradient(to left, #64aeee 30%, #9bf7de 70%);
}



